{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="{% static 'lmstats/style.css' %}">
<title>BetEtsii</title>
</head>
<body>
	<div id="centrado">
		<header>
			<div id="headertop">
				<div id="divlogotipo"><img id="logo"src="{% static "lmstats/logo_betetsii.png" %}" alt="Logo"/></div>
				<div id="divdescripcion">
					<h2 id="descripcion">Consulta las predicciones Realiza tus apuestas</h2>
					<img id="campofutbol"src="{% static "lmstats/campofutbol.png" %}" alt="campo"/>
				</div>
				<div id="logincontainer">
					<form action="accounts/login" method="post">{% csrf_token %}
						<div class="container" id="logincontainer2">
						  	<label class="labellogin" for="usuario"><b>Usuario</b></label>
						  	<input type="text" name="usuario" id="usuario" required>
							<br>
						  	<label class="labellogin" for="contrasena"><b>Contrase&ntildea</b></label>
						  	<input type="password" name="contrasena" id="contrasena" required>
						
						  	<button type="submit" id="login">Login</button>
						</div>
					</form>
				</div>
			</div>
			<nav>
				<ul id="menu-bar">
					<li class="active"><a href="/partidos">Partidos Analizados</a></li>
					<li><a href="/mis_pronosticos">Mis Pronosticos</a></li>
					<li><a href="/clasificacion">Ranking de Usuarios</a></li>
				</ul>
			</nav>
		</header>
		<div id="contenido">
			<form action="/mis_pronosticos/" method="post">
				{% csrf_token %}
				<table id=partidos>
					<tr>
						<th><strong>Fecha</strong></th>
						<th><strong>Hora</strong></th>
						<th><strong>Partido</strong></th>
						<th><strong>%1</strong></th>
						<th><strong>%X</strong></th>
						<th><strong>%2</strong></th>
						<th><strong>Pronostico Recomendado</strong></th>
						<th><strong>Pronosticar</strong></th>
					</tr>
					{% for partido,porcentaje,fecha,hora,pronostico,id in datos %}
					
					
					<tr>
						<td>{{ fecha }}</td>
						<td>{{ hora }}</td>
						<td>{{ partido }}</td>
						<td>{{ porcentaje.0 }}</td>
						<td>{{ porcentaje.1 }}</td>
						<td>{{ porcentaje.2 }}</td>
						<td>{{ pronostico }}</td>
						<td><input id=radio1 type="radio" name="{{ id }}" value="1">1
							<input id=radioX type="radio" name="{{ id }}" value="X">X
							<input id=radio2 type="radio" name="{{ id }}" value="2">2
						</td>
					</tr>
					{% endfor %}
				</table>
				<input type="submit" value="Pronosticar">
			</form>
			<section id="izquierda">
				<h2>Ultimas Novedades</h2>
				<article>NOVEDAD UNO</article>
				<article>NOVEDAD DOS</article>
				<article>NOVEDAD TRES</article>
			</section>
			<section id="centro">
				<h2>Temas Populares</h2>
				<article>POPULAR A</article>
				<article>POPULAR B</article>
				<article>POPULAR C</article>
			</section>
		</div>
		<footer>
			<section id="copyright">Datos Copyright</section>
			<section id="contacto">Datos de Contacto</section>
			<section id="enlaces">MapaWeb, Politica, etc.</section>
		</footer>
	</div>
</body>
</html>