{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="{% static 'lmstats/style.css' %}">
<title>BetEtsii</title>
</head>
<body>
	<div id="centrado">
		<header>

			<h1 id="titulo">BetEtsii</h1>
			<h2 id="descripcion">DESCRIPCION DE LA WEB</h2>

			<div id="logotipo">LOGOTIPO</div>
			<nav>
				<ul id="menu-bar">
					<li class="active"><a href="#">Partidos Analizados</a></li>
					<li><a href="#">Mis Pronosticos</a></li>
					<li><a href="#">Ranking de Usuarios</a></li>
				</ul>
			</nav>
		</header>
		<div id="contenido">
			<form action="/mis_pronosticos/" method="post">
				{% csrf_token %}
				<table>
					<tr>
						<td><strong>Ranking</strong></td>
						<td><strong>Usuario</strong></td>
						<td><strong>Porcentaje de acierto</strong></td>
						<td><strong>Puntos</strong></td>
					</tr>
					{% for partido,porcentaje,fecha,hora,pronostico,id in datos %}
					
					
					<tr>
						<td>{{ fecha }}</td>
						<td>{{ hora }}</td>
						<td>{{ partido }}</td>
						<td>{{ porcentaje.0 }}</td>
						<td>{{ porcentaje.1 }}</td>
						<td>{{ porcentaje.2 }}</td>
						<td>{{ pronostico }}</td>
						<td><input id=radio1 type="radio" name="{{ id }}" value="1">1
							<input id=radioX type="radio" name="{{ id }}" value="X">X
							<input id=radio2 type="radio" name="{{ id }}" value="2">2
						</td>
					</tr>
					{% endfor %}
				</table>
				<input type="submit" value="Pronosticar">
			</form>
			<section id="izquierda">
				<h2>Ultimas Novedades</h2>
				<article>NOVEDAD UNO</article>
				<article>NOVEDAD DOS</article>
				<article>NOVEDAD TRES</article>
			</section>
			<section id="centro">
				<h2>Temas Populares</h2>
				<article>POPULAR A</article>
				<article>POPULAR B</article>
				<article>POPULAR C</article>
			</section>
		</div>
		<footer>
			<section id="copyright">Datos Copyright</section>
			<section id="contacto">Datos de Contacto</section>
			<section id="enlaces">MapaWeb, Politica, etc.</section>
		</footer>
	</div>
</body>
</html>