{% extends "base.html" %} 

{% block menubar %}
	<div id="divMenuBar">
		<nav>
			<ul id="menu-bar">
				<li><a href="/partidos">Partidos Analizados</a></li>
				<li><a href="/mis_pronosticos">Mis Pronosticos</a></li>
				<li class="active"><a href="/clasificacion">Ranking de Usuarios</a></li>
			</ul>
		</nav>
	</div>			
{% endblock %} 

{% block content %}
	<div id="tableContainerRanking">
		<table id=ranking class="center">
			<tr>
				<th><strong>Ranking</strong></th>
				<th><strong>Usuario</strong></th>
				<th><strong>Porcentaje de acierto</strong></th>
				<th><strong>Puntos</strong></th>
			</tr>
			{% for usuario,porcentaje,puntos in usuarios %}
				{% if user.username == usuario %} 
				<tr style="font-size:16px;font-weight: bold;">
				{% else %}
				<tr>
				{% endif %}
					<td>{{ forloop.counter }}</td>
					<td>{{ usuario }}</td>
					<td>{{ porcentaje }}</td>
					<td>{{ puntos }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}