{% extends "base.html" %} 

{% block menubar %}
	<li><a href="/partidos">Partidos Analizados</a></li>
	<li><a href="/mis_pronosticos">Mis Pronosticos</a></li>
	<li class="active"><a href="/clasificacion">Ranking de Usuarios</a></li>
{% endblock %} 

{% block content %}
	<!-- <form action="/mis_pronosticos/" method="post"> -->
				<!-- {% csrf_token %} -->
				<table id=ranking>
					<tr>
						<th><strong>Ranking</strong></th>
						<th><strong>Usuario</strong></th>
						<th><strong>Porcentaje de acierto</strong></th>
						<th><strong>Puntos</strong></th>
					</tr>
					{% for usuario,porcentaje,puntos in usuarios %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ usuario }}</td>
						<td>{{ porcentaje }}</td>
						<td>{{ puntos }}</td>
					</tr>
					{% endfor %}
				</table>
			<!-- </form> -->
{% endblock %}