{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="{% static 'lmstats/style.css' %}">
<title>BetEtsii</title>
</head>
<body>
	<div id="centrado">
		<header>
			<div id="headertop">
				<div id="divlogotipo"><img id="logo"src="{% static "lmstats/logo_betetsii.png" %}" alt="Logo"/></div>
				<div id="divdescripcion">
					<h2 id="descripcion">Consulta las predicciones Realiza tus apuestas</h2>
					<img id="campofutbol"src="{% static "lmstats/campofutbol.png" %}" alt="campo"/>
				</div>
				<div id="logincontainer">
					<form action="accounts/login" method="post">{% csrf_token %}
						<div class="container" id="logincontainer2">
						  	<label class="labellogin" for="usuario"><b>Usuario</b></label>
						  	<input type="text" name="usuario" id="usuario" required>
							<br>
						  	<label class="labellogin" for="contrasena"><b>Contrase&ntildea</b></label>
						  	<input type="password" name="contrasena" id="contrasena" required>
						
						  	<button type="submit" id="login">Login</button>
						</div>
					</form>
				</div>
			</div>
			<nav>
				<ul id="menu-bar">
					<li><a href="/partidos">Partidos Analizados</a></li>
					<li class="active"><a href="/mis_pronosticos">Mis Pronosticos</a></li>
					<li><a href="/clasificacion">Ranking de Usuarios</a></li>
				</ul>
			</nav>
		</header>
		<div id="contenido">
			{% for pron in pronostico %}
				<h5>{{ pron }}</h5>
			{% endfor %}
		</div>
		<footer>
			<section id="copyright">Datos Copyright</section>
			<section id="contacto">Datos de Contacto</section>
			<section id="enlaces">MapaWeb, Politica, etc.</section>
		</footer>
	</div>
</body>
</html>