{% load staticfiles %} {% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'lmstats/style.css' %}">
<title>BetEtsii</title>
</head>
<body>
	<div id="centrado">
		<header>
			<div id="headertop">
				<div id="divlogotipo">
					<a href="/partidos">
						<img id="logo" src="{% static "lmstats/logo_betetsii.png" %}" alt="Logo" />
					</a>
				</div>
				<div id="divdescripcion">
					<h2 id="descripcion">Consulta las predicciones Realiza tus apueestas</h2>
					<img id="campofutbol" src="{% static "lmstats/campofutbol.png" %}" alt="campo" />
				</div>

				<div id="logincontainer">
					{% if not user.is_authenticated %}
					<form action="/accounts/login/" method="post">{% csrf_token %}
						<div class="container" id="logincontainer2">
							<label class="labellogin" for="username"><b>Usuario</b></label> <input type="text" name="username" id="username" required> <br>
							<label class="labellogin" for="password"><b>Contrase&ntildea</b></label>
							<input type="password" name="password" id="password" required>
							<a href="/accounts/register1" id="registrarse">Registrarose</a>

							<button type="submit" id="login">Login</button>
						</div>
					</form>
					{% else %}
					<form action="/accounts/logout/" method="post">{% csrf_token %}
						<div class="container" id="logoutcontainer">
							<label class="labellogin" for="usuario"><b>Bienvenido {{ user }}</b></label><br>
							<input type="hidden" name="next" value="{{ next|escape }}" />
							<button type="submit" id="login">Logout</button>
						</div>
					</form>
					{% endif %}
					{% if user.is_staff %}
						<a href="/admin" id="administrar">Administrar BetETSII</a>
					{% endif %}
				</div>
			</div>
			{% block menubar %} {% endblock %}
		</header>
		<div id="contenido">
			{% block content %} {% endblock %}
		</div>
		<footer>
			
		</footer>
	</div>
</body>
</html>