{% extends "base.html" %} 


{% block menubar %}
	<div id="divMenuBar">
		<nav>
			<ul id="menu-bar">
				<li><a href="/partidos">Partidos Analizados</a></li>
				<li><a href="/mis_pronosticos">Mis Pronosticos</a></li>
				<li><a href="/clasificacion">Ranking de Usuarios</a></li>
			</ul>
		</nav>
	</div>		
{% endblock %} 
 
{% block content %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

  
  <div class="testbox">
	<div class="errores">
		{% if form.errors %}
			<h3>Corrige los errores :</h3>
		    {% for field in form %}
		        {% for error in field.errors %}
		            <div class="alert">
		                <strong>{{ error|escape }}</strong>
		            </div>
		        {% endfor %}
		    {% endfor %}
		    {% for error in form.non_field_errors %}
		        <div class="alert">
		            <strong>{{ error|escape }}</strong>
		        </div>
		    {% endfor %}
		{% endif %}
	
	</div>

  <form action="/accounts/register2/" method="post" id="registerForm">{% csrf_token %}
	  <label id="icon" for="email"><i class="icon-envelope"></i></label>
	  <input type="email" name="email" id="email" placeholder="Email" required/>
	  <label id="icon" for="username"><i class="icon-user"></i></label>
	  <input type="text" name="username" id="username" placeholder="Usuario" required/>
	  <label id="icon" for="password1"><i class="icon-shield"></i></label>
	  <input type="password" name="password1" id="password1" placeholder="Password" required/>
	  <label id="icon" for="password2"><i class="icon-shield"></i></label>
	  <input type="password" name="password2" id="password2" placeholder="Repite tu password" required/>
	  <input type="submit" class="button" id="registrarseBoton" value="Registrarse">
  </form>
</div>
  
{% endblock %}