
header {
/* 	background-color: #a8ffa8; */
	padding-left: 20px;
	padding-top: 0px;
	width: 85%;
}


#logo {
	float: left;
    margin: 80px 7px 20px 20px;
    position: relative;
    transform: scale(1.5);
}

#campofutbol {
	margin-left:-16px;
	transform: scale(0.8);
	border-radius: 150px;
}

#descripcion {
    color: white;
    font-family: Trebuchet MS;
    font-size: 28px;
    font-variant: small-caps;
    margin-left: 296px;
    margin-top: 182px;
    position: absolute;
    text-align: center;
    width: 381px;
    z-index: 2;
}

#logincontainer {
    float: right;
    margin-right: 127px;
    margin-top: -205px;
    position: relative;
    text-align: right;
    width: 30%;
}

#logincontainer2 {
	text-align: right;
}

#usuario, #contrasena {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    margin: 0 0 11px;
    padding: 10px;
    width: 47%;
}


.labellogin {
    color: #2fc434;
    display: inline-block;
    float: left;
    font-family: cursive;
    margin: 0 0 11px;
    padding: 9px 0 9px 17px;
    text-align: right;
    vertical-align: middle;
    width: 46%;
}


#login {
    background: #51db55 linear-gradient(to bottom, #51db55, #37cc3c) repeat scroll 0 0;
    border-radius: 28px;
    color: #ffffff;
    font-family: cursive;
    font-size: 20px;
    margin-left: 13em;
    padding: 3px 8px;
    text-decoration: none;
    text-shadow: 1px 1px 3px #666666;
}

#login:hover {
	background: #37cc3c;
	cursor:pointer;
}


#menu-bar {
/* 	width: 60%; */
/* 	margin: 0px 0px 0px 0px; */
/* 	padding: 6px 6px 4px 6px; */
/* 	height: 35px; */
/* 	line-height: 100%; */
/* 	border-radius: 0px; */
/* 	-webkit-border-radius: 0px; */
/* 	-moz-border-radius: 0px; */
/* 	box-shadow: 2px 2px 3px #666666; */
/* 	-webkit-box-shadow: 2px 2px 3px #666666; */
/* 	-moz-box-shadow: 2px 2px 3px #666666; */
	background: #8B8B8B;
	background: linear-gradient(top, #51DB56, #37CC3C);
	background: -ms-linear-gradient(top, #51DB56, #37CC3C);
	background: -webkit-gradient(linear, left top, left bottom, from(#51DB56),
		to(#37CC3C));
 	background: -moz-linear-gradient(top, #51DB56, #37CC3C); */
/* 	border: dashed 3px #6D6D6D; */
/* 	position: relative; */
/* 	z-index: 999; */
/* 	background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #51db56, #37cc3c) repeat scroll 0 0; */
    border: 2px outset #6d6d6d;
    border-radius: 48px;
    box-shadow: 2px 2px 3px #666666;
    height: 35px;
    line-height: 100%;
    margin: -13px 16px 16px;
    padding: 6px 6px 4px;
    position: relative;
    width: 70%;
    z-index: 999;
}

#menu-bar li {
	margin: 0px 0px 6px 0px;
	padding: 0px 6px 0px 6px;
	float: left;
	position: relative;
	list-style: none;
}

#menu-bar a {
	font-weight: bold;
	font-family: cursive;
	font-style: normal;
	font-size: 23px;
	color: #E7E5E5;
	text-decoration: none;
	display: block;
	padding: 8px 20px 8px 20px;
	margin: 0;
	margin-bottom: 6px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	text-shadow: 2px 2px 3px #000000;
}

#menu-bar li ul li a {
	margin: 0;
}

#menu-bar .active a, #menu-bar li:hover>a {
	background: #0399D4;
	background: linear-gradient(top, #EBEBEB, #A1A1A1);
	background: -ms-linear-gradient(top, #EBEBEB, #A1A1A1);
	background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB),
		to(#A1A1A1));
	background: -moz-linear-gradient(top, #EBEBEB, #A1A1A1);
	color: #444444;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 2px 2px 3px #FFFFFF;
}

#menu-bar ul li:hover a, #menu-bar li:hover li a {
	background: none;
	border: none;
	color: #666;
	-box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

#menu-bar ul a:hover {
	background: #0399D4 !important;
	background: linear-gradient(top, #04ACEC, #0186BA) !important;
	background: -ms-linear-gradient(top, #04ACEC, #0186BA) !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC),
		to(#0186BA)) !important;
	background: -moz-linear-gradient(top, #04ACEC, #0186BA) !important;
	color: #FFFFFF !important;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 2px 2px 3px #FFFFFF;
}

#menu-bar li:hover>ul {
	display: block;
}

#menu-bar ul {
	background: #DDDDDD;
	background: linear-gradient(top, #FFFFFF, #CFCFCF);
	background: -ms-linear-gradient(top, #FFFFFF, #CFCFCF);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF),
		to(#CFCFCF));
	background: -moz-linear-gradient(top, #FFFFFF, #CFCFCF);
	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 30px;
	left: 0;
	border: solid 1px #B4B4B4;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 2px 2px 3px #222222;
	-moz-box-shadow: 2px 2px 3px #222222;
	box-shadow: 2px 2px 3px #222222;
}

#menu-bar ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#menu-bar ul a {
	padding: 10px 0px 10px 15px;
	color: #424242 !important;
	font-size: 12px;
	font-style: normal;
	font-family: arial;
	font-weight: normal;
	text-shadow: 2px 2px 3px #FFFFFF;
}

#menu-bar ul li:first-child>a {
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
}

#menu-bar ul li:last-child>a {
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
}

#menu-bar:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#menu-bar {
	display: inline-block;
}

html[xmlns] #menu-bar {
	display: block;
}

* html #menu-bar {
	height: 1%;
}

#ranking {
	width: 50%;
}

table {
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

th {
    background-color: #0d960a;
    color: white;
    height: 35px;
}

td {
    height: 50px;
    vertical-align: center;
}

tr:hover {background-color: #ff8080}

tr:nth-child(even) {background-color: #c1ecb7}

tr:nth-child(odd) {background-color: #9af18b}

table, th, td {
    border: 1px solid black;
}